@import 'common/stylesheet/index.scss';

.admin__user {
  background-color: white;
  padding: 10px;

  &--header {
    margin-bottom: 20px;

    &--div {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

  &--search {
    width: 100%;
    display: flex;
    justify-content: center;

    &--header {
      font-size: 1.2rem;
      margin-bottom: 10px;
      line-height: 2rem;
    }

    &--wrap {
      display: flex;
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 10px;

      &--btn {
        width: 150px;
        height: 2rem;
        border: 1px solid rgb(221, 221, 221);
        margin-left: 10px;
        font-size: 1.1rem;

        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }

  &--submit {
    display: flex;
    justify-content: center;

    &--btn {
      margin: 15px;
      font-size: 1.2rem;
      background-color: rgb(56, 171, 173);
      padding: 10px;
      border-radius: 5px;
      color: white;

      &:hover {
        background-color: rgb(221, 221, 221);
        color: black;
      }
    }
  }
}
