@import 'common/stylesheet/index.scss';

.admin__home {
  background-color: white;
  padding: 10px;

  &--header {
    margin-bottom: 20px;

    &--div {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }
  }

  &--gauge {
    display: flex;
    width: 55%;
    text-align: center;
    margin: auto;
  }
}
