@import 'common/stylesheet/index.scss';

@include media('>medium') {
  .info__question {
    width: 100%;
    font-size: 3.2rem;
    font-weight: lighter;
    line-height: 4.5rem;

    strong {
      color: $color-secondary;
    }

    div {
      font-size: 2.2rem;
      line-height: 3rem;
      margin: 40px auto;
    }
  }
}

@include media('<=small') {
  .info__question {
    width: 100%;
    font-size: 2.2rem;
    font-weight: lighter;
    line-height: 3rem;

    strong {
      color: $color-secondary;
    }

    div {
      font-size: 1.5rem;
      line-height: 2.2rem;
      margin: 40px auto;
    }
  }
}
