@import 'common/stylesheet/index.scss';

.bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5vh;
  background-color: $color-button;

  &__gauge {
    height: 1.5vh;
    background-color: $color-secondary;
  }
}
