@import 'common/stylesheet/index.scss';

  .prescription {
    width: 100%;
    height: 60vh;
    overflow: auto;

    &__section {
      width: 95%;
      height: 200px;
      background-color: white;
      border-radius: 25px;
      box-shadow: 5px 5px 5px grey;
      margin-left: 2.5%;
      margin-bottom: 2.5%;
      padding: 20px;
      display: flex;
      position: relative;
      overflow: hidden;

      &--img {
        width: 120px;
        height: 120px;
        border-radius: 5px;
        margin: auto 0;
      }

      &--description {
        width: 70%;
        margin-left: 40px;

        &--header {
          font-size: 2rem;
          margin: 0;
        }

        ul {
          overflow: hidden;
          height: 100px;

          li {
            font-size: 1.2rem;
            margin-bottom: 15px;
          }
        }
      }

      &--bottom {
        width: 7%;
        margin: 0 0 0 auto;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: $color-secondary;
        color: white;

        &--add {
          height: 200px;
          margin: auto;
          font-size: $font-size_28;
        }
      }
    }

    &__detail {
      width: 95%;
      height: 100%;
      background-color: white;
      border-radius: 25px;
      box-shadow: 5px 5px 5px grey;
      margin-left: 2.5%;
      margin-bottom: 2.5%;
      padding: 20px;
      position: relative;
      overflow: hidden;
      
      &--section {
        display: flex;
        height: 200px;

        &--img {
          width: 120px;
          height: 120px;
          border-radius: 5px;
          margin: auto 0;
        }

        &--description {
          width: 70%;
          margin-left: 40px;

          &--header {
            font-size: 2rem;
            margin: 0;
          }

          ul {
            overflow: hidden;
            height: 100px;

            li {
              font-size: 1.2rem;
              margin-bottom: 15px;
            }
          }
        }

        &--bottom {
          position: absolute;
          top: 30px;
          right: 30px;
          width: 30px;
          height: 30px;
          
          &--close {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }