@import 'common/stylesheet/index.scss';

.info__question {
  width: 100%;
  font-size: 3.5rem;
  font-weight: lighter;
      
  span {
    color: $color-secondary;
    font-weight: bolder;
  }

  &--sub {
    font-size: 2.2rem;
    margin: 40px auto;
  }
}