@import 'common/stylesheet/index.scss';

@include media('>medium') {
  .sex {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;

    &__btn {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      font-size: 3rem;
      font-weight: normal;
      background-color: $color-button;
    }

    &__btn:hover {
      border: 5px solid $color-secondary;
      color: $color-secondary;
      background-color: $color-theme;
    }
  }

  .info__control {
    position: relative;
    margin: 50px auto 0;

    &--input {
      border: 5px solid $color-secondary;
      border-radius: 15px;
      width: 95%;
      height: 144px;
      font-size: 2.5rem;
      text-align: center;
      background-color: $color-theme;
      margin: auto;

      span {
        color: gray;
      }
    }

    &--select {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: auto;
      border: 4px solid $color-secondary;
      border-radius: 5px;
      width: 90%;
      height: 65vh;
      background-color: $color-theme;
      z-index: 10;

      button {
        width: 100%;
        height: 6rem;
        font-size: 2.5rem;
      }

      button:hover {
        background-color: $color-secondary;
        color: $color-box;
      }
    }

    &--confirm {
      width: 100px;
      height: 146px;
      position: absolute;
      right: 0;
      top: 0;

      &--img {
        width: 43.4px;
        height: 43.4px;
      }
    }

    &--check {
      width: 100px;
      height: 146px;
      position: absolute;
      right: 0;
      top: 0;

      &--img {
        width: 43.4px;
        height: 43.4px;
      }
    }
  }
}

@include media('<=small') {
  .sex {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;

    &__btn {
      width: 165px;
      height: 165px;
      border-radius: 50%;
      font-size: 2rem;
      font-weight: normal;
      background-color: $color-box;
    }

    &__btn:hover {
      border: 5px solid $color-secondary;
      color: $color-secondary;
      background-color: $color-theme;
    }
  }

  .info__control {
    position: relative;
    margin: 50px auto 0;

    &--input {
      border: 5px solid $color-secondary;
      border-radius: 15px;
      width: 95%;
      height: 80px;
      font-size: 1.8rem;
      text-align: center;
      background-color: $color-theme;
      margin: auto;

      span {
        color: gray;
      }
    }

    &--select {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: auto;
      border: 4px solid $color-secondary;
      border-radius: 5px;
      width: 90%;
      height: 65vh;
      background-color: $color-theme;
      z-index: 10;

      button {
        width: 100%;
        height: 5rem;
        font-size: 2rem;
      }

      button:hover {
        background-color: $color-secondary;
        color: $color-box;
      }
    }

    &--confirm {
      width: 60px;
      height: 90px;
      position: absolute;
      right: 0;
      top: 0;

      &--img {
        width: 30px;
        height: 30px;
      }
    }

    &--check {
      width: 60px;
      height: 80px;
      position: absolute;
      right: 0;
      top: 0;

      &--img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
