@import 'common/stylesheet/index.scss';

.qna {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__info {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
