@import 'common/stylesheet/index.scss';

.qna {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  height: 70vh;

  &__info {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
