@import 'common/stylesheet/index.scss';

.qna {
  position: relative;
  height: 70vh;
  margin-top: 70px;

  &__info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-25%);
    text-align: center;
    margin: 0 auto;
  }
}
