@import 'common/stylesheet/index.scss';

.main {
  width: 100vw;
  max-width: 800px;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background-color: $color-theme;
  overflow: hidden;
}

.transition-group {
  height: 90vh;
  position: relative;
}

.fade-enter, .fade-appear {
  opacity: 0;
  z-index: 1;

  &-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
  }  
}

.fade-exit {
  opacity: 1;

  &-active {
    opacity: 0;
    transition: opacity 150ms linear;
  }
}
