@import 'common/stylesheet/index.scss';

@include media('>medium') {
  .main {
    width: 800px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: $color-theme;
  }
}

@include media('<=small') {
  .main {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: $color-theme;
  }
}

.transition-group {
  height: 100vh;
  position: relative;
}

.fade-enter, .fade-appear {
  opacity: 0;
  z-index: 1;

  &-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
  }  
}

.fade-exit {
  opacity: 1;

  &-active {
    opacity: 0;
    transition: opacity 150ms linear;
  }
}
