@import 'common/stylesheet/index.scss';

@mixin rings($duration, $delay) {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  border: 8px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  animation-name: ripple;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
  z-index: -1;
}

@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75, 0.75, 1);
  }

  to {
    opacity: 0;
    transform: scale3d(1.5, 1.5, 1);
  }
}

@include media('>medium') {
  .home {
    width: 100%;

    &__main {
      padding: 20px;
      width: 90%;
      height: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      &--text {
        display: block;
        font-size: 3.5rem;
        font-weight: lighter;
        line-height: 5rem;

        strong {
          font-size: 3.6rem;
          font-weight: 900;
        }
      }

      &--btn {
        display: block;
        width: 35%;
        height: 3rem;
        line-height: 3rem;
        font-size: 2rem;
        background-color: $color-secondary;
        color: $color-box;
        border-radius: 50px;
        margin-top: 20px;
        text-align: center;
      }
    }

    &__intro {
      position: absolute;
      bottom: 4rem;
      padding-left: 20px;
      margin-bottom: 10px;
      font-size: 1.5rem;
    }

    &__introImg {
      position: absolute;
      right: 0;
      bottom: 0.5rem;
      text-align: center;
      z-index: 100;
      margin-right: 20px;
      cursor: pointer;

      &--ani {
        position: relative;
        width: 115px;
        height: 115px;
        margin-bottom: 10px;
        border: 2px solid $color-box;
        border-radius: 50%;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);

        img {
          width: 100%;
          height: 100%;
        }

        &::after {
          @include rings(3s, 0s);
        }

        &::before {
          @include rings(3s, 0.5s);
        }
      }

      span {
        padding-top: 20px;
        font-size: 1.5rem;
        color: $color-box;
      }
    }

    &__popup {
      position: absolute;
      bottom: 12.5rem;
      right: 2%;
      width: 70%;
      height: auto;
      background: $color-box;
      border-radius: 1rem;
      box-shadow: 5px 5px 5px $color-secondary;

      &--span {
        display: block;
        width: 90%;
        margin: 20px auto;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 90%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: $color-box;
        border-bottom: 0;
        border-left: 0;
        margin-left: -10px;
        margin-bottom: -20px;
      }
    }

    &__footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      max-width: 800px;
      height: 4rem;
      background-color: $color-secondary;
    }
  }
}

@include media('<=small') {
  .home {
    margin-top: 80px;
    width: 100%;
    height: 0;
    position: relative;

    &__main {
      padding: 20px;
      width: 90%;
      transform: translateY(40%);

      &--text {
        display: block;
        font-size: 2.5rem;
        font-weight: 100;
        line-height: 3.5rem;

        strong {
          font-weight: 900;
          font-size: 2.6rem;
        }
      }

      &--btn {
        display: block;
        width: 35%;
        height: 2.5rem;
        line-height: 2.5rem;
        font-size: 1.3rem;
        background-color: $color-secondary;
        color: $color-box;
        border-radius: 30px;
        margin-top: 30px;
        text-align: center;
      }
    }

    &__intro {
      position: fixed;
      bottom: 3rem;
      padding-left: 20px;
      margin-bottom: 10px;
      font-size: 0.8rem;
    }

    &__introImg {
      position: fixed;
      right: 0;
      bottom: 0.5rem;
      text-align: center;
      z-index: 100;
      margin-right: 20px;
      cursor: pointer;

      &--ani {
        position: relative;
        width: 65px;
        height: 65px;
        margin-bottom: 10px;
        border: 2px solid $color-box;
        border-radius: 50%;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);

        img {
          width: 100%;
          height: 100%;
        }

        &::after {
          @include rings(3s, 0s);
        }

        &::before {
          @include rings(3s, 0.5s);
        }
      }

      span {
        padding-top: 20px;
        font-size: 1rem;
        color: $color-box;
      }
    }

    &__popup {
      position: fixed;
      bottom: 9rem;
      right: 2%;
      width: 70%;
      height: auto;
      background: $color-box;
      border-radius: 1rem;
      box-shadow: 5px 5px 5px $color-secondary;

      &--span {
        display: block;
        width: 90%;
        margin: 20px auto;
        font-size: 1rem;
        line-height: 1.7rem;
      }

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 93%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: $color-box;
        border-bottom: 0;
        border-left: 0;
        margin-left: -10px;
        margin-bottom: -20px;
      }
    }

    &__footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 3rem;
      background-color: $color-secondary;
    }
  }
}
