@import 'common/stylesheet/index.scss';

.qna__list {
  margin-top: 50px;
  padding: 0 20px;
  height: 70vh;
  overflow: auto;

  @include media('>medium') {
    &--three {
      display: inline-block;
      flex-wrap: wrap;
      width: 30%;
      line-height: $line_height-rem;
      margin: 2% 1.5%;
      background-color: $color-button;
      border-radius: 50px;
      font-size: $font_size-rem;
      text-align: center;
      border: 3px solid $color-theme;
    }

    &--pick {
      display: inline-block;
      flex-wrap: wrap;
      width: 30%;
      line-height: $line_height-rem;
      margin: 2% 1.6%;
      background-color: $color-theme;
      border-radius: 50px;
      border: 3px solid $color-secondary;
      font-size: $font_size-rem;
      text-align: center;
      color: $color-secondary;
      font-weight: bold;
    }

    &--three:hover {
      border: 3px solid $color-secondary;
      background-color: $color-theme;
    }

    &--answer {
      width: 90%;
      height: 4rem;
      margin: auto auto 10px;
      display: flex;
      justify-content: center;
      background-color: $color-theme;
      border-radius: 25px;
      border: 5px solid $color-box;

      &--one {
        width: 90%;
        height: 4rem;
        line-height: 3.6rem;
        font-size: 1.5rem;
        text-align: left;
      }

      &--check {
        width: 25px;
        height: 25px;
        border: 4px solid rgb(220, 220, 220);
        border-radius: 50%;
        margin: auto 30px;
      }

      &--pick {
        width: 25px;
        height: 25px;
        border: 3px solid $color-secondary;
        border-radius: 50%;
        margin: auto 30px;
        background-color: $color-secondary;
      }
    }

    &--answer:hover {
      border: 3px solid $color-secondary;
      background-color: $color-theme;
    }

    &--select {
      width: 90%;
      height: 4rem;
      line-height: 3.6rem;
      font-size: 1.5rem;
      margin: auto auto 10px;
      display: flex;
      justify-content: center;
      background-color: $color-button;
      border-radius: 25px;
      border: 3px solid $color-secondary;
    }
  }

  @include media('<=small') {
    &--three {
      display: inline-block;
      flex-wrap: wrap;
      width: 30%;
      font-size: 1.1rem;
      line-height: 3rem;
      margin: 2% 1.5%;
      background-color: $color-button;
      border-radius: 50px;
      text-align: center;
      border: 3px solid $color-theme;
    }

    &--pick {
      display: inline-block;
      flex-wrap: wrap;
      width: 30%;
      line-height: 3rem;
      margin: 2% 1.6%;
      font-size: 1.1rem;
      background-color: $color-theme;
      border-radius: 50px;
      border: 3px solid $color-secondary;
      text-align: center;
      color: $color-secondary;
      font-weight: bold;
    }

    &--answer {
      width: 90%;
      height: 3.5rem;
      margin: auto auto 10px;
      display: flex;
      justify-content: center;
      background-color: $color-box;
      border-radius: 25px;
      border: 5px solid $color-theme;

      &--one {
        width: 90%;
        height: 3rem;
        font-size: 1rem;
        line-height: 3rem;
        text-align: left;
        margin: auto;
      }

      &--check {
        width: 15px;
        height: 15px;
        border: 4px solid rgb(220, 220, 220);
        border-radius: 50%;
        margin: auto 30px;
      }

      &--pick {
        width: 15px;
        height: 15px;
        border: 4px solid $color-secondary;
        border-radius: 50%;
        margin: auto 30px;
        background-color: $color-secondary;
      }
    }

    &--select {
      width: 90%;
      height: 3.5rem;
      margin: auto auto 10px;
      display: flex;
      background-color: $color-button;
      border-radius: 25px;
      border: 3px solid $color-secondary;
    }
  }
}
