@import 'common/stylesheet/index.scss';

.qna {
  width: 100%;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);

  &__qusetion {
    text-align: center;
  }

  &__confirm {
    width: 100%;
    position: absolute;
    bottom: 3vh;

    &__btn{
      margin: auto;
      width: 90%;
      line-height: 5rem;
      background-color: $color-secondary;
      border-radius: 40px;
      color: white;
      font-size: 2rem;
      text-align: center;
    }

    &__btn:hover {
      background-color: white;
      color: $color-secondary;
    }
  }
}