@import 'common/stylesheet/index.scss';

.customized {
  position: absolute;
  top: 70px;
  width: 100%;

  &__confirm {
    width: 100%;
    position: absolute;
    bottom: 3vh;

    @include media('>medium') {
      &__footer {
        margin: auto;
        width: 90%;
        line-height: 5rem;
        background-color: $color-box;
        border-radius: 40px;
        font-size: 2rem;
        text-align: center;
      }

      &__btn {
        background-color: $color-secondary;
        border-radius: 40px;
        color: $color-box;
      }

      &__btn:hover {
        background-color: $color-box;
        color: $color-secondary;
      }
    }

    @include media('<=small') {
      &__footer {
        margin: auto;
        width: 90%;
        line-height: 3rem;
        background-color: $color-theme;
        border-radius: 40px;
        font-size: 1.2rem;
        text-align: center;
      }

      &__btn {
        background-color: $color-secondary;
        border-radius: 40px;
        color: $color-box;
      }

      &__btn:hover {
        background-color: $color-box;
        color: $color-secondary;
      }
    }
  }
}
