@import 'common/stylesheet/index.scss';

.popup__wrap {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  .public {
    overflow: auto;
    width: 90%;
    max-width: 700px;
    border-radius: 25px;
    background-color: $color-box;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%) translateY(-50%);

    @include media('>medium') {
      &__header {
        width: 90%;
        height: 45%;
        border-bottom: 3px solid;
        text-align: center;
        margin: auto;

        &--logo {
          width: 20%;
          margin: 30px auto 0;
          border-radius: 5px;
        }

        &--title {
          margin: 10% auto 15%;
          font-size: $font_size-rem;
          font-weight: lighter;

          span {
            font-weight: bolder;
          }
        }

        &--btn {
          width: 20px;
          height: 20px;
          position: absolute;
          top: 20px;
          right: 20px;

          &--img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &__btn {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 5% auto;

        &--list {
          margin: auto;
          text-align: center;

          &--img {
            width: 80%;
            margin: 20px auto;
          }

          &--span {
            font-size: 1.2rem;
          }
        }
      }
    }

    @include media('<=small') {
      &__header {
        width: 90%;
        height: 45%;
        border-bottom: 3px solid;
        text-align: center;
        margin: auto;

        &--logo {
          width: 20%;
          margin: 30px auto 0;
          border-radius: 5px;
        }

        &--title {
          margin: 10% auto 15%;
          font-size: 1.5rem;
          font-weight: lighter;

          strong {
            font-weight: 900;
          }
        }

        &--btn {
          width: 15px;
          height: 15px;
          position: absolute;
          top: 20px;
          right: 20px;

          &--img {
            width: 100%;
            height: 100%;
          }
        }
      }

      &__btn {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 5% auto 13%;

        &--list {
          margin: auto;
          text-align: center;

          &--img {
            width: 70%;
            margin: 20px auto 15px;
          }

          &--span {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}
