@import 'common/stylesheet/index.scss';

.result {
  width: 100%;
  position: absolute;
  top: 70px;
  
  &__header {
    display: flex;
    padding: 0 20px;

    &--logo {
      width: 100px;
      height: 100px;
      margin: auto 0;
    }

    &--title {
      margin: auto 0 auto auto;
      text-align: end;

      h3 {
        font-weight: normal;
        font-size: 2.5rem;

        span {
          font-size: 3rem;
          font-weight: bolder;
        }
      }

      p {
        font-size: 1.3rem;
      }
    }
  }


  &__control {
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: flex;

    &--pulish {
      width: 60px;
      height: 60px;
      background-color: white;
      border-radius: 10px;
      margin: auto 50px auto 20%;

      img {
        width: 85%;
        height: 85%;
        margin: auto;
      }
    }

    &--confirm {
      width: 40%;
      height: 80px;
      background-color: $color-secondary;
      border-radius: 40px;
      color: white;
      font-size: $font-size_28;
    }
  }
}